.hint-list {
  margin-top: 4px;
  display: flex;
  gap: 4px;
  align-items: center;

  span {
    padding: 5px;
    border: 1px solid #b3b3b3;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
  }
}

.item {
  display: flex;
  align-items: center;
  gap: 8px;
}

b {
  font-size: 20px;
  line-height: 20px;
}
